<!DOCTYPE HTML>

<html>

  <head>
    <meta charset='utf-8'>
    <title>Ruhull's {{pageTitle}} Page</title>
  </head>

  <body>
    <h1>Ruhull's {{pageTitle}} Page </h1>
    <p><a href='/'>Home</a></p>
    <p><a href='/about'>About</a></p>
    <p><a href='/projects'>Projects</a></p>
